body {
    background: rgb(38, 38, 38);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vmax;
}

.title {
    font-size: 3;
    font-weight: bold;
    color: black;
}

.userListWrapper {
    margin: 0.25vmax;
    padding: 2vmax;
    background: grey;
    border-radius: 25px;
    overflow:hidden
}

.userList {
    overflow-y: scroll;
    width: 140%;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 0.25vmax 0.25vmax;
}

.AddUserWrapper{
    margin: 0.25vmax;
    padding: 2vmax;
    background: grey;
    border-radius: 25px;
    overflow:hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1vmax;
}

.searchUserWrapper {
    margin: 0.25vmax;
    padding: 2vmax;
    background: grey;
    border-radius: 25px;
    overflow:hidden;
}

input{
    outline: none;
    background-color: black;
    color: white;
}
input:focus{
    color: white;
}

select{
    color: white;
    background: black;
    outline: none;
    border: none;
}